Repository graphql/graphql-js, pull requests merged in 2024-12, with the labels that each got.

#4288 introduce GraphQLField, GraphQLInputField, GraphQLArgument, and GraphQLEnumValue
  src/execution/__tests__/nonnull-test.ts
  src/execution/__tests__/oneof-test.ts
  src/execution/__tests__/variables-test.ts
  src/execution/values.ts
  src/index.ts
  src/type/__tests__/definition-test.ts
  src/type/__tests__/directive-test.ts
  src/type/__tests__/enumType-test.ts
  src/type/__tests__/predicate-test.ts
  src/type/definition.ts
  src/type/directives.ts
  src/type/index.ts
  src/type/introspection.ts
  src/type/validate.ts
  src/utilities/__tests__/buildClientSchema-test.ts
  src/utilities/__tests__/findSchemaChanges-test.ts
  src/utilities/findSchemaChanges.ts
  src/utilities/printSchema.ts
  src/validation/rules/KnownArgumentNamesRule.ts
  src/validation/rules/ProvidedRequiredArgumentsRule.ts
  src/validation/rules/VariablesInAllowedPositionRule.ts
  src/validation/rules/custom/NoDeprecatedCustomRule.ts
Labels: PR: breaking change 💥

#4299 Make deprecated.reason non-nullable
  src/type/__tests__/introspection-test.ts
  src/type/directives.ts
  src/utilities/__tests__/printSchema-test.ts
Labels: spec RFC

#3601 Add KnownOperationTypes rule
  src/index.ts
  src/validation/__tests__/KnownOperationTypesRules-test.ts
  src/validation/index.ts
  src/validation/rules/KnownOperationTypesRule.ts
  src/validation/specifiedRules.ts
Labels: spec RFC

#4296 ease upgrade path for programmatic default values
  integrationTests/ts/basic-test.ts
  integrationTests/ts/esm.ts
  src/execution/__tests__/executor-test.ts
  src/execution/__tests__/variables-test.ts
  src/execution/getVariableSignature.ts
  src/execution/values.ts
  src/index.ts
  src/type/__tests__/definition-test.ts
  src/type/__tests__/directive-test.ts
  src/type/__tests__/enumType-test.ts
  src/type/__tests__/predicate-test.ts
  src/type/__tests__/validation-test.ts
  src/type/definition.ts
  src/type/directives.ts
  src/type/index.ts
  src/type/introspection.ts
  src/type/validate.ts
  src/utilities/TypeInfo.ts
  src/utilities/__tests__/coerceInputValue-test.ts
  src/utilities/__tests__/printSchema-test.ts
  src/utilities/__tests__/validateInputValue-test.ts
  src/utilities/buildClientSchema.ts
  src/utilities/coerceInputValue.ts
  src/utilities/extendSchema.ts
  src/utilities/findSchemaChanges.ts
  src/utilities/getDefaultValueAST.ts
  src/utilities/printSchema.ts
  src/utilities/replaceVariables.ts
  src/utilities/valueFromAST.ts
  src/validation/ValidationContext.ts
  src/validation/rules/VariablesInAllowedPositionRule.ts
Labels: PR: breaking change 💥

#4313 type fix for ExperimentalIncrementalExecutionResults
  src/execution/types.ts
Labels: PR: bug fix 🐞
